<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProyectoFabLab.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ProyectoFabLab.My.MySettings.Conexion" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=FabLab;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ProyectoFabLab.My.MySettings>
            <setting name="UrlServicioMiniatura" serializeAs="String">
                <value>https://westcentralus.api.cognitive.microsoft.com/vision/v1.0</value>
            </setting>
            <setting name="ClaveServicioMiniatura" serializeAs="String">
                <value>b376592d3cc64a9ca5da4daed5b83464</value>
            </setting>
        </ProyectoFabLab.My.MySettings>
    </userSettings>
</configuration>